
body{
    display: none;
}
.about{
    text-align: center;
    color: rgb(122, 119, 119);
    border-bottom: 2px solid rgb(179, 172, 172);
    padding-bottom:20px ;
}
.container2{
    box-shadow: 1px 30px 40px 10px rgb(58, 53, 53);
    padding: 15px 50px 10px 55px;
    background: transparent;
    color: rgb(172, 168, 168);
    font-size: 17px;
    
     
}
.para{
    font-size: 22px;
    color: rgb(78, 77, 77);
}