
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url(/hero-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    transition: 1s;
  
}
.about{
    text-align: center;
    color: rgb(221, 143, 143);
    border-bottom: 2px solid rgb(179, 172, 172);
    padding-bottom:20px ;
}

.containerb{
    box-shadow: 1px 30px 40px 10px rgb(58, 53, 53);
    padding: 15px 50px 10px 55px;
    color:rgb(172, 168, 168);
    font-size: 17px;
    transition: 3s;
  
}
.para{
    font-size: 22px;
    color: rgb(78, 77, 77);
}




.header{
    background-color: #3341559d;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    color: #fafafa;
    top: 0;
    font-family: 'Roboto', sans-serif;
    
   
}
.header .link-side a{
    display: inline-flex;
    text-decoration: none;
    color: white;
    padding: 5px;
  
}


@media screen and (max-width:600px){
    body{
       
       background-position: 100em;
       
    }
    body .containerb{
        background-color: black;
        
    }
    .containerb{

        color:cadetblue;
    }
    .para{
        color:rgb(177, 177, 194);
    }
    .about{
        color:rgb(177, 177, 194);
    }
       
.header{
    position: fixed;
    width: 100%;
}
       }